<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js ie8 device-desktop">
<![endif]-->
<!--[if IE 9]>
<html class="no-js ie9 device-desktop">
<![endif]-->
<!--[if gt IE 9]><!-->
<html>
    <head>
        <meta charset="UTF8" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
