<footer class="footer space-ptm">
    <div class="grid-container">
        <div class="social-media-panel space-mbs">
            <h2 class="follow-gumtree space-mbs txt-normal">Follow SoukJdid</h2>
            <ul class="social-media-buttons floated-list space-mbxs clearfix">
                <li class="like-fb" data-likebuttons="channel:facebook">
                    <span class="icn-facebook icn-share-facebook"></span><span class="social-media-text">Like</span>
                        <span class="social-media-hide">
                            <div class="fb-like" data-href="https://www.facebook.com/soukjdid" data-layout="button" data-action="like" data-show-faces="false" data-share="false">
                            </div>
                        </span>
                    <span class="hide-visually">Like soukjdid.com on Facebook</span>
                </li>
                <li class="like-tw" data-likebuttons="channel:twitter">
                    <span class="icn-twitter icn-share-twitter"></span><span class="social-media-text">Tweet</span>
                    <span class="social-media-hide">
                        <a href="https://twitter.com/soukjdid" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false"></a>
                    </span>
                    <span class="hide-visually">Follow soukjdid.com on Twitter</span>
                </li>
                <li class="like-gp is-loaded" data-likebuttons="channel:googleplus">
                    <span class="icn-googleplus icn-share-googleplus"></span><span class="social-media-text">+1</span>
                    <span class="hide-visually">Plus-one soukjdid.com on Google Plus</span>
                </li>
                <li class="like-pin" data-likebuttons="channel:pinterest">
                    <span class="icn-circ-pinterest icn-share-pinterest"></span><span class="social-media-text">Pin It</span>
                    <span class="social-media-hide">
                        <a data-pin-do="buttonFollow" href="http://www.pinterest.com/soukjdid/">Pin It</a>
                    </span>
                    <span class="hide-visually">Follow soukjdid.com on Pinterest</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-container-from-l">
        <nav class="footer-primary-navigation" role="navigation">
            <ul class="footer-primary-links">
                <li><a data-q="help-and-contact" href="http://help.soukjdid.com/knowledgeHome">Help &amp; Contact</a>
                </li>
                <li><a data-q="my-soukjdid" href="https://my.soukjdid.com/manage/ads">My SoukJdid</a></li>
                <li><a data-q="about-soukjdid" href="http://blog.soukjdid.com/aboutus">About SoukJdid</a></li>
                <li><a data-q="partners" href="http://www.soukjdid.com/partners">Partners</a></li>
                <li>
                    <a data-q="soukjdid-for-business" href="http://www.soukjdidforbusiness.com/">For Business</a>
                </li>
                <li><a data-q="popular-searches" href="http://www.soukjdid.com/popular-search">Popular Searches</a></li>
                <li class="break"><a data-q="privacy-policy" href="http://www.soukjdid.com/privacy_policy">Privacy Policy</a></li>
                <li><a data-q="cookies-policy" href="http://www.soukjdid.com/cookies">Cookies Policy</a></li>
                <li><a data-q="terms-of-use" href="http://www.soukjdid.com/termsofuse">Terms of Use</a></li>
                <li class="break"><a data-q="blog" href="http://blog.soukjdid.com/">Blog</a></li>
            </ul>
        </nav>
        <p role="contentinfo" class="grid-row footer-copyright">
            <span data-q="copyright" class="grid-col-12 grid-inline-m">
                © Copyright 2000-2014 SoukJdid.com Limited.
            </span>
            <span class="grid-col-12 space-pln grid-inline-m">All rights reserved.</span>
        </p>
    </div>
</footer>