<div class="grid-container-from-m">
        <div class="header-inner">
            <nav class="control-panel" role="navigation">
                <menu role="toolbar">
                    <li class="control-logo" itemscope="" itemtype="http://schema.org/Organization">
                        <a itemprop="url" href="https://my.soukjdid.com/" tabindex="1">
                            <img itemprop="logo" class="hide-fully-to-m" src="{{ asset('bundles/acmedemo/images/ca/logo.png') }}" alt="SoukJdid.com">
                            <span class="bitmap-icons bitmap-icons-logo hide-fully-from-m">
                                <span class="hide-visually">SoukJdid.com</span>
                            </span>
                        </a>
                    </li>                    
                    <li class="control-menu hide-fully-from-m">
                        <a href="https://my.soukjdid.com/login#" data-broadcast="channel:side-menu,method:activate" aria-controls="side-menu" aria-haspopup="true">
                            <span class="icn-burger" aria-hidden="true"></span>
                            <span class="hide-visually">Show more options</span>
                        </a>
                    </li>
                    <li class="control-search hide-fully-from-m">
                        <a href="https://my.soukjdid.com/login#" class="is-open" data-setcookie="channel:toggle-search,cookieKey:isSearchOpen,toggleCookie:true" data-toggle="channel:toggle-search,bodyClass:is-showing-search,ariaExpanded:true" aria-haspopup="true" aria-controls="site-search">
                            <span class="icn-magnifying-glass" aria-hidden="true"></span>
                            <span class="hide-visually">Search SoukJdid.com</span>
                        </a>
                    </li>

                    <li class="control-post-ad">
                        <a class="btn-primary" href="https://my.soukjdid.com/postad" tabindex="4" data-q="post-ad" data-analytics="gaEvent:PostAdBegin,defer:true,preventDefaultEvent:true">
                            <span class="icn-circ-plus" aria-hidden="true"></span>
                            <span>Post an ad</span>
                        </a>
                    </li>
                    <li class="control-my-gumtree hide-fully-to-m">
                        <a href="https://my.soukjdid.com/manage/ads" tabindex="3" data-toggle="my-soukjdid" aria-haspopup="true" aria-controls="my-soukjdid-menu" class="header-link" aria-expanded="false">
                            My SoukJdid
                            <span class="icn-dropdown" aria-hidden="true"></span>
                        </a>
                        <ul data-toggle="channel:my-soukjdid,selfBroadcast:false" class="secondary-bevel-list sub-menu" id="my-gumtree-menu" role="menu" aria-hidden="true" aria-expanded="false">
                            <li>
                                <a href="http://www.soukjdid.com/my-account/favourites" data-q="my-soukjdid-saved-ads">
                                    <span class="icn-star txt-secondary" aria-hidden="true"></span>
                                    Favourites
                                </a>
                            </li>
                            <li>
                                <a href="http://www.soukjdid.com/my-account/saved-searches" data-q="my-soukjdid-saved-searches">
                                    <span class="icn-disk txt-secondary" aria-hidden="true"></span>
                                    Saved searches
                                </a>
                            </li>
                            <li>
                                <a href="https://my.soukjdid.com/manage/ads" data-q="my-soukjdid-manage-ads">
                                    <span class="icn-folder txt-secondary" aria-hidden="true"></span>
                                    Manage my ads
                                </a>
                            </li>
                            <li>
                                <a href="https://my.soukjdid.com/manage-account/" data-q="my-soukjdid-my-details">
                                    <span class="icn-person txt-secondary" aria-hidden="true"></span>
                                    My details
                                </a>
                            </li>
                            <li>
                                <a href="https://my.soukjdid.com/create-account/" data-q="my-soukjdid-create-account">
                                    <span class="icn-person-plus txt-secondary" aria-hidden="true"></span>
                                    Create Account
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="control-help hide-fully-to-m">
                        <a href="http://help.soukjdid.com/knowledgeHome" class="header-link" tabindex="2" data-q="help-contact">Help</a>
                    </li>
                    <li class="control-loggedinout hide-fully-to-m">
                        <a href="./chrom-Login-Gumtree_files/chrom-Login-Gumtree.html" class="header-link">
                            <span>Login</span>
                        </a>
                    </li>
                </menu>
            </nav>
        </div>
    </div>