<header class="header" role="banner">


    <div class="grid-container-from-m">
        <div class="header-inner">
            <nav class="control-panel" role="navigation">
                <menu role="toolbar">
                    <li class="control-logo" itemscope="" itemtype="http://schema.org/Organization">
                        <a itemprop="url" href="https://my.gumtree.com/" tabindex="1">
                            <img itemprop="logo" class="hide-fully-to-m" src="{{ asset('bundles/acmedemo/images/ca/logo.png') }}" alt="Gumtree.com">
                            <span class="bitmap-icons bitmap-icons-logo hide-fully-from-m">
                                <span class="hide-visually">Gumtree.com</span>
                            </span>
                        </a>
                    </li>                    
                    <li class="control-menu hide-fully-from-m">
                        <a href="https://my.gumtree.com/login#" data-broadcast="channel:side-menu,method:activate" aria-controls="side-menu" aria-haspopup="true">
                            <span class="icn-burger" aria-hidden="true"></span>
                            <span class="hide-visually">Show more options</span>
                        </a>
                    </li>
                    <li class="control-search hide-fully-from-m">
                        <a href="https://my.gumtree.com/login#" class="is-open" data-setcookie="channel:toggle-search,cookieKey:isSearchOpen,toggleCookie:true" data-toggle="channel:toggle-search,bodyClass:is-showing-search,ariaExpanded:true" aria-haspopup="true" aria-controls="site-search">
                            <span class="icn-magnifying-glass" aria-hidden="true"></span>
                            <span class="hide-visually">Search Gumtree.com</span>
                        </a>
                    </li>

                    <li class="control-post-ad">
                        <a class="btn-primary" href="https://my.gumtree.com/postad" tabindex="4" data-q="post-ad" data-analytics="gaEvent:PostAdBegin,defer:true,preventDefaultEvent:true">
                            <span class="icn-circ-plus" aria-hidden="true"></span>
                            <span>Post an ad</span>
                        </a>
                    </li>
                    <li class="control-my-gumtree hide-fully-to-m">
                        <a href="https://my.gumtree.com/manage/ads" tabindex="3" data-toggle="my-gumtree" aria-haspopup="true" aria-controls="my-gumtree-menu" class="header-link" aria-expanded="false">
                            My Gumtree
                            <span class="icn-dropdown" aria-hidden="true"></span>
                        </a>
                        <ul data-toggle="channel:my-gumtree,selfBroadcast:false" class="secondary-bevel-list sub-menu" id="my-gumtree-menu" role="menu" aria-hidden="true" aria-expanded="false">
                            <li>
                                <a href="http://www.gumtree.com/my-account/favourites" data-q="my-gumtree-saved-ads">
                                    <span class="icn-star txt-secondary" aria-hidden="true"></span>
                                    Favourites
                                </a>
                            </li>
                            <li>
                                <a href="http://www.gumtree.com/my-account/saved-searches" data-q="my-gumtree-saved-searches">
                                    <span class="icn-disk txt-secondary" aria-hidden="true"></span>
                                    Saved searches
                                </a>
                            </li>
                            <li>
                                <a href="https://my.gumtree.com/manage/ads" data-q="my-gumtree-manage-ads">
                                    <span class="icn-folder txt-secondary" aria-hidden="true"></span>
                                    Manage my ads
                                </a>
                            </li>
                            <li>
                                <a href="https://my.gumtree.com/manage-account/" data-q="my-gumtree-my-details">
                                    <span class="icn-person txt-secondary" aria-hidden="true"></span>
                                    My details
                                </a>
                            </li>
                            <li>
                                <a href="https://my.gumtree.com/create-account/" data-q="my-gumtree-create-account">
                                    <span class="icn-person-plus txt-secondary" aria-hidden="true"></span>
                                    Create Account
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="control-help hide-fully-to-m">
                        <a href="http://help.gumtree.com/knowledgeHome" class="header-link" tabindex="2" data-q="help-contact">Help</a>
                    </li>
                    <li class="control-loggedinout hide-fully-to-m">
                        <a href="./chrom-Login-Gumtree_files/chrom-Login-Gumtree.html" class="header-link">
                            <span>Login</span>
                        </a>
                    </li>
                </menu>
            </nav>
        </div>
    </div>


    <div id="header-bottom" class="header-bottom">
        <div class="grid-container-from-m">
            <div class="header-inner">
                <nav class="site-search grid-container" id="site-search" role="navigation">
                    <form role="search" name="header-search-form" action="http://www.gumtree.com/search">


                        <ul class="clearfix-to-m">
                            <li class="keyword-search set-left">
                                <span class="multi-input">
                                    <span class="clear-input-wrapper"><input type="search" name="q" id="header-search-q" title="Search by keyword" autocomplete="off" placeholder="I&#39;m looking for..." value="" aria-autocomplete="list" aria-owns="header-search-q" data-type-ahead="channel:search"><span class="icn-clear txt-quaternary clear-input"></span></span>
                                    <span class="select-wrapper select-wrapper-borderless" data-category-selector="topBuffer:2">
                                        <input type="hidden" name="search_category" data-current-category="all" value="all">
                                      <span class="text-only" data-current-category-name="All Categories">All Categories</span>
                                        <div data-q="header-category-select-container" class="category-selector
                                        is-dropdown ">
                                            <ul data-q="header-category-select">
                                                <li class="categories-loading space-phs space-pvxs">Loading categories</li>
                                            </ul>
                                        </div>
                                    </span>
                                </span>
                            </li>

                            <li class="location-search set-left">
                                <label class="hide-fully-to-m"><span class="hide-visually">Search </span>in<span class="hide-visually"> location:</span></label>
                                <span class="multi-input">
                                    <span class="clear-input-wrapper"><input type="search" name="search_location" placeholder="Postcode or location" title="Location" id="header-search-location" autocomplete="off" data-type-ahead="channel:location" aria-autocomplete="list" aria-owns="header-search-location-type-ahead" value=""><span class="icn-clear txt-quaternary clear-input"></span></span>
                                    <span class="multi-wrapper">
                                    <span class="select-wrapper select-wrapper-borderless">
                                        <select title="Select distance from search location (optional)" name="distance">
                                            <option value="0.0001" selected="">
                                                + 0 km</option>
                                            <option value="10">
                                                + 10 km</option>
                                            <option value="25">
                                                + 25 km</option>
                                            <option value="50">
                                                + 50 km</option>
                                            <option value="100">
                                                + 100 km</option>
                                        </select>
                                    </span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                        <button type="submit" class="btn-primary btn-icon submit-search" name="search-gumtree" data-submit-ignore="">
                            <span class="hide-visually">Submit search</span>
                            <span class="icn-magnifying-glass" aria-hidden="true"></span>
                        </button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
</header>