<nav class="side-menu hide-fully-from-m" aria-expanded="false" role="navigation" id="side-menu" data-sidepanel="channel:side-menu,bodyClass:is-offset-left,resetResize:3,selfBroadcast:false">
    <ul class="secondary-bevel-list">
        <li>
            <ul>
                <li>
                    <a href="http://www.gumtree.com/">
                        <span class="icn-house" aria-hidden="true"></span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://my.gumtree.com/postad">
                        <span class="icn-circ-plus" aria-hidden="true"></span>
                        Post an ad
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="side-menu-title">My Gumtree</h2>
            <ul>
                <li>
                    <a href="https://my.gumtree.com/create-account">
                        <span class="icn-person-plus" aria-hidden="true"></span>
                        Create account
                    </a>
                </li>
                <li>
                    <a href="http://www.gumtree.com/my-account/favourites">
                        <span class="icn-star" aria-hidden="true"></span>
                        Favourites
                    </a>
                </li>
                <li>
                    <a href="http://www.gumtree.com/my-account/saved-searches">
                        <span class="icn-disk" aria-hidden="true"></span>
                        Saved searches
                    </a>
                </li>
                <li>
                    <a href="https://my.gumtree.com/manage/ads">
                        <span class="icn-folder" aria-hidden="true"></span>
                        Manage my ads
                    </a>
                </li>
                <li>
                    <a href="https://my.gumtree.com/manage/details/update">
                        <span class="icn-person" aria-hidden="true"></span>
                        My details
                    </a>
                </li>
                <li>
                    <a href="./chrom-Login-Gumtree_files/chrom-Login-Gumtree.html">
                        <span class="icn-inbox" aria-hidden="true"></span>
                        Login
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="side-menu-title">More information</h2>
            <ul>
                <li>
                    <a href="http://help.gumtree.com/knowledgeHome">
                        <span class="icn-circ-question-mark" aria-hidden="true"></span>
                        Help &amp; Contact
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="side-menu-title">Browse categories</h2>
            <ul>
                <li>
                    <a href="http://www.gumtree.com/cars-vans-motorbikes">
                        <span class="icn-car" aria-hidden="true"></span>
                        Motors
                    </a>
                </li>
                <li>
                    <a href="http://www.gumtree.com/for-sale">
                        <span class="icn-tag" aria-hidden="true"></span>
                        For Sale
                    </a>
                </li>
                <li>
                    <a href="http://www.gumtree.com/flats-houses">
                        <span class="icn-house" aria-hidden="true"></span>
                        Property
                    </a>
                </li>
                <li>
                    <a href="http://www.gumtree.com/jobs">
                        <span class="icn-tie" aria-hidden="true"></span>
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="http://www.gumtree.com/business-services">
                        <span class="icn-spanner" aria-hidden="true"></span>
                        Services
                    </a>
                </li>
                <li>
                    <a href="http://www.gumtree.com/community">
                        <span class="icn-people" aria-hidden="true"></span>
                        Community
                    </a>
                </li>
                <li class="last-item">
                    <a href="http://www.gumtree.com/pets">
                        <span class="icn-paw" aria-hidden="true"></span>
                        Pets
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>