<div class="notification-box header-above hide-fully" data-broadcast="channel:feedback-link,event:onload,defer:100,method:setViews" data-setcookie="channel:feedback-link,cookieKey:feedbackLink,pageViews:10" aria-expanded="true">
    <div class="grid-container-from-m">
        <div class="media">
        <span class="media-img-ext notification-box-close" data-broadcast="channel:feedback-link,args:false">
            <span class="icn-clear txt-success" aria-hidden="true"></span>
            <span class="hide-visually">Close the feedback link</span>
        </span>

            <span class="media-body txt-center">
                <span class="txt-success txt-large">
                    Enjoying the new Gumtree?
                </span>
                <a href="https://www.surveymonkey.com/s/gumtreemobile3" data-broadcast="channel:feedback-link,preventDefaultEvent:false,args:false" target="_blank">Give us your feedback</a>
            </span>
        </div>
    </div>
</div>