{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - result{% endblock %}
{% block head_link %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmedemo/css/ca/seller.css') }}">
{% endblock %}
{% block content_notif %}
    {% include "AcmeDemoBundle:Welcome:notification.html.twig" %}
{% endblock %}

{% block content_header %}
    {% include "AcmeDemoBundle:Welcome:header.html.twig" %}
{% endblock %}

{% block content_nav %}
    {% include "AcmeDemoBundle:Welcome:nav.html.twig" %}
{% endblock %}

{% block content %}
<div class="grid-container main">
    <main role="main" class="grid-row space-ptm">
        <div class="space-mvxl grid-col-12 grid-col-s-10 grid-col-m-6 grid-col-xl-4 grid-col-s-offset-1 grid-col-m-offset-3 grid-col-xl-offset-4">
            
        </div>
    </main>
</div>
{% endblock %}

{% block content_footer %}
    {% include "AcmeDemoBundle:Welcome:footer.html.twig" %}
{% endblock %}
